header {
  color: white;
  display: flex;

  .banner {
    align-self: center;
    width: 100%;
  }

  a {
    color: white;

    :visited {
      color: white;
    }

    :hover {
      color: white;
    }
  }
}

.bg-purple {
  background-color: #570E7B;
}

.section {

}
